﻿<ul class="navbar-nav flex-grow-1">
    <li>@Html.ActionLink("Produits", "Index", "Produit", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Catégories", "Index", "Categorie", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Marques", "Index", "Marque", new { area = "" }, new { @class = "nav-link" })</li>
</ul>